/***********************************

Fonts

***********************************/

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bodoni+Moda&display=swap");

$primary-font: "Bodoni Moda", sans-serif;
$secondary-font: "Barlow", sans-serif;

$small-font: 12px;
$medium-font: 14px;

$gray-font: #505050;

/***********************************

Padding

***********************************/

$page-padding: 0 2em;

/***********************************

Line-height

***********************************/

$default-line-height: 1.5em;

/***********************************

Borders

***********************************/



/***********************************

Color schemes

***********************************/


$primary-color: #81CF9D;
$secondary-color: #FFFF66;
$tertiary-color: #FF9933;
