@import "global";

.highlight {
  display: inline-block;
  background-color: $secondary-color;
  opacity: 0.7;
  position: relative;
  z-index: -1;
  // positioning and sizing adjusted manually --> is there a better way to do this?
  height: 0.8em;
  bottom: 4.8em;
  left: 3.75em;
  animation: highlight-slider 2s;
  animation-fill-mode: forwards;
}

@keyframes highlight-slider {
  60% {
    width: 0em;
  }
  100% {
    width: 15em;
  }
}
