body {
  background: linear-gradient(rgb(0,13,60) 45%, rgb(136,203,171));
  color: #fff;
  font-family: 'Roboto Mono', Arial;
  margin: 0;
}

p {
  font-size: 0.9rem;
}

h1 {
  margin: 2em 1em 1.5em 1em;
}

/* check hover media query below for information on padding transition */
h2 {
  display: inline-block;
  border-bottom: 2px solid rgb(255, 163, 26);
  transition: padding 1s;
}

/* Every even block of heading should be aligned to the right */
section:nth-of-type(even) h2 {
  background-position: right bottom;
}

/* ===================================

Media Queries

=================================== */

/* enabling hover functionalities only for devices with a mouse */

/* hovering over an h2 heading should enable the heading border to expand
outwards */

@media(hover: hover) and (pointer: fine) {
  section:nth-of-type(odd) h2:hover {
    padding-right: 10em;
  }

  section:nth-of-type(even) h2:hover {
    padding-left: 10em;
  }

/* adjusting heading dimensions for screen size */

@media only screen and (min-width: 550px){
  h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 200px){
  h1 {
    margin: 2em 0;
  }
}
