section {
  margin-bottom: 3em;
  /* add relative position to enable background circles to stick to section */
  position: relative;
  padding: 1em;
}

section:nth-of-type(2n) {
  text-align: right;
}

/* class added to h2 heading in the javascript file */

.underline-extend {
  background-size: 20em 2px;
}
