body {
  background: linear-gradient(#f3efa1 45%, #f8b715);
  margin: 0;
  font-family: 'Nunito', Arial;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
}

h1 {
  display: flex;
  align-items: center;
  font-family: 'Zen Tokyo Zoo', Arial;
  letter-spacing: 0.2em;
  margin-left: 0.5em;
  width: 5em;
  color: #5c5cc4;
  font-size: 4em;
  text-shadow: 2px 5px #fff;
}

/* ===================================

Media Queries

=================================== */

/* bigger heading and title animation for larger screen sizes */

@media only screen and (min-width: 550px){

  h1 {
    width: 10em;
    animation: fade-in 2s;
  }

  header {
    flex-direction: row;
  }
}

/* ===================================

keyframes

=================================== */

/* fade-in has the same timing as sunglasses keyframe in themes.css */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
