@import "global";

main {
  font-family: $primary-font;
}

h1 {
  font-size: 36px;
  font-family: $secondary-font;
  color: #fff;
}

input {
  font-family: inherit;
  text-align: center;
  outline: none;
  border: 2px solid;
}

input:focus::placeholder {
  color: transparent;
}

button {
  height: 3em;
  width: 7.5em;
  background-color: $tertiary-color;
  color: $secondary-font-color;
  border: 2px solid #fff;
  border-radius: 7px;
  cursor: pointer;
  &:active {
    background-color: $secondary-color;
  }
}

@media (pointer: fine) {

  button {
    &:hover {
      transform: $primary-scale;
      transition: transform 0.3s;
    }
  }
}
