footer {
  height: 6em;
  padding: $mobile-padding;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  color: $secondary-font-color;
  margin-top: $mobile-margin-top
}


@media only screen and (min-width: 420px) {

  footer {
    padding: $web-padding;
    margin-top: $web-margin-top
  }

}
