/***********************************

Fonts

***********************************/

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Satisfy&display=swap");

$primary-font: "Merriweather", sans-serif;
$secondary-font: "Satisfy", serif;

$small-font: 14px;
$large-font: 20px;

$secondary-font-color: #fff;

/***********************************

Padding

***********************************/

$web-padding: 0 4em;
$mobile-padding: 0 2em;

/***********************************

Color schemes

***********************************/

$primary-color: #ffb3d9;
$secondary-color: #000080;
$tertiary-color: #1ac6ff;

/***********************************

Hover transformations

***********************************/

$primary-scale: scale(1.1);

/***********************************

line-height
***********************************/

$default-lh: 1.4;
