@import "global";

main {
  font-style: $primary-font;
}

// input layout section

.input {
  margin: $mobile-padding;
  display: flex;
  justify-content: space-around;
  margin-top: $mobile-margin-top
}

@media only screen and (min-width: 420px) {

  .input {
    margin: $web-padding;
    margin-top: $web-margin-top
  }

}

.input_left {
  display: flex;
  flex-direction: column;
  grid-gap: 0.75em;
  align-items: center;
}

// output layout section

.output {
  padding: $mobile-padding;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: $primary-color;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: $mobile-margin-top;
}

@media only screen and (min-width: 420px) {

  .output {
    padding: $web-padding;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    height: 20em;
    margin-top: $web-margin-top;
  }

}
