@import "global";

// input modules

.input__container {
  display: flex;
  flex-direction: column;
  grid-gap: 0.25em;
  width: 100%;
}

.input__head {
  text-align: center;
}

// destination input list

.city-input__list-elem {
  display: block;
  padding-left: 1.5em;
  cursor: pointer;
  border: 1px solid grey;
  &:hover {
    background-color: $tertiary-color;
    opacity: 0.7;
    color: #fff;
  }
}

// input go button

.prevent-go {
  background-color: grey;
  pointer-events: none;
}

// output modules

#city-photo {
  margin: 1em;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.pixabay {
  margin: 0.5em;
  font-size: 9px;
}

.pixabay-link {
  color: #fff;
}

.output__main__buttons {
  display: flex;
  grid-gap: 1em;
}

.output__main__container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  grid-gap: 1em;
}

@media only screen and (min-width: 420px) {

  .output__main__container {
    padding-left: 2em;
  }

}

.output__main__head__container {
  display: flex;
  text-align: center;
}

#output__main__head__content {
  width: 100%;
  line-height: $default-lh;
  font-size: $large-font;
  text-align: left;
}

#output__main__weather__entry {
  padding: 0.2em 0;
  font-size: $small-font;
  line-height: $default-lh;
}
