<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
  <meta name="references" content="Funcionality based on Meaning Cloud API">
  <title>SummarizeMe</title>
</head>
<body>
  <main>
    <header>
      <h1>
        SummarizeMe
      </h1>
      <span class="highlight">
      </span>
    </header>
    <section class="description">
      <p>
        The purpose of this website is to provide a short summary of any online article or text. Choose the source url as well the desired length of the sentence. The Meaning Cloud API takes care of the magic.
      </p>
    </section>
    <section class ="input">
      <div class="enter-url">
        <div class="enter-url__text">
          Enter URL
        </div>
        <div class="enter-url__arrow">
          <canvas id="arrow-canvas"></canvas>
        </div>
      </div>
      <input type="text" name="url input" placeholder="add url here" id="enter-url__form">
    </section>
  </main>
  <footer>
    <p>
      &copy Tino
    </p>
  </footer>
</body>
</html>
